{% extends 'base.html' %}
{% load materializecss %}
{% load staticfiles %}

{% block page_title %}Password Reset Page | {% endblock %}
{% block page_heading %}Reset Password{% endblock %}

{% block content %}
    <div class="row">
        <div id="password_reset" class="col s12">
            <form method="POST" id="password_reset_request" class="col s12 accountform">
                <div class="password-reset-form center-align">
                    <h2 class="form-title">Reset Password</h2>
                        <p>please supply email address and follow the instructions
                        </p>
                    <div class="row">
                        <div class="col s12">
                            {% csrf_token %}
                            {{ form.email.errors }}
                            {{ form.email|materializecss:'icon=fas fa-at' }}
                        </div>
                        <div class="col 12">
                            <button class="btn waves-effect waves-light add-btn sm-md-btn" type="submit" aria-label="Submit Reset Request button">
                                <span class="hide-on-small-and-down">Submit</span>
                                <i class="fas fa-sync-alt icon-right" aria-hidden="true"></i>
                            </button>
                            <a class="btn waves-effect waves-light sm-md-btn" aria-label="Cancel button" onclick="history.back()">
                                <span class="hide-on-small-and-down">Cancel</span>
                                <i class="fas fa-times-circle icon-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

