{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Password Reset Complete | {% endblock %}

{% block content %}
    
    <div class="row view-one-ticket">
        <div class="col s12 center-align">
            <h3 class="form-title">Password Reset Complete</h3>
            <p>Thank you, your password has been reset. You may now log in.</p>
            <p>
                <a href="{% url 'login' %}" aria-label="Login Page" class="login-here">LOGIN</a>
            </p>
        </div>
    </div>

{% endblock %}