{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}

{% block page_title %}Set New Password | {% endblock %}

{% block content %}
    {% if validlink %}
        <div class="row">
            <!-- Set Password Form-->
            <div id="set-password" class="col s12">
                <form id="reset_password_form" class="col s12 accountform" method="POST">
                    <div class="center-align">
                        <h3 class="form-title">Enter New Password</h3>
                        <div class="row">
                            <p>Please enter your new password, BOTH must match.</p>
                            <div class="col s12">
                                {% csrf_token %}
                                {{ form.new_password1.errors }}
                                {{ form.new_password1|materializecss:'icon=fas fa-lock' }}
                                {{ form.new_password2.errors }}
                                {{ form.new_password2|materializecss:'icon=fas fa-key' }}
                                <button type="submit" class="btn btn-primary large-btn" aria-label="Submit button">
                                    <span class="hide-on-small-and-down">Submit</span>
                                    <i class="fas fa-sync-alt icon-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col s12 center-align">
                <h3 class="form-title">Password reset unsuccessful</h3>
                <p>
                    The password reset link was not invalid, this may be because it has already been used.<br />
                    Please request a new password reset.
                </p>
                <p>
                    <a href="{% url 'password_reset' %}" aria-label="Request Password Reset">Request password reset</a>
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}