{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Password Reset Sent | {% endblock %}

{% block content %}

    <div class="row view-one-ticket">
        <div class="col s12 center-align">
            <h3 class="reset-sent">Password Reset Sent</h3>
            <p>
                We have emailed you instructions to reset your password, only if an account
                exists with the email you entered. They should arrive shortly.
            </p>
            <p>
                If you have not received an email, please make sure you've entered the correct
                email address you registered with, and also check your spam folder.
            </p>
            <p>
                <a href="{% url 'login' %}" aria-label="Login Page" class="login-here">LOGIN HERE</a>
            </p>
        </div>
    </div>

{% endblock %}