@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellota:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/*  background image for all pages */
.background1{
    background-image: url('../img/unicorn-back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*  Index  */
.what-we-do{
    color:  rgb(0, 0, 0);
     text-shadow: rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px,
    rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px;
    font-family: 'Bellota', cursive;
}

.index-page {
    background:  linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(179,220,237,1) 12%, rgba(41,184,229,1) 48%, rgba(188,224,238,1) 83%, rgba(188,224,238,1) 100%);
    border-radius: 25px;

}

hr {
    width: 50%;
}

.page-title {
    color:  white;
     text-shadow: rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px,
    rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px;
    font-family: 'Anton', sans-serif;
    font-size: 80px;

}

.fa-bug {
    color: blue;
}

.fa-cogs {
    color: green;
}

.about-game {
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
}

/*  Navbar */
.nav-text {
    color:  rgb(0, 0, 0);
     text-shadow: rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px,
    rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px;
}

nav {
  font-family: 'Bellota', cursive;
  font-weight: 700;
  background:  linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(179,220,237,1) 12%, rgba(41,184,229,1) 48%, rgba(188,224,238,1) 83%, rgba(188,224,238,1) 100%);
    
}

.sidenav {
  font-family: 'Bellota', cursive;
  background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(179,220,237,1) 12%, rgba(41,184,229,1) 48%, rgba(188,224,238,1) 83%, rgba(188,224,238,1) 100%);
  font-weight: 700;
  
}

.sidenav li {
  padding-top: 0.6rem;
}

.sidenav .sidenav-home {
  margin-top: 3rem;
}

.brand-logo-title-side{
    font-size: 20px;
    font-weight: 700;
    color:  rgb(0, 0, 0);
     text-shadow: rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px,
    rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px, rgb(0, 162, 255) 0px 0px 3px;
}


nav .brand-logo img,
.sidenav .brand-logo img {
  vertical-align: text-bottom;
  height: 3rem;
  width: 4rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.sidenav .brand-logo {
  width: 100%;
}

.sidenav .brand-logo-title {
  
  font-size: 1.6rem;
  color: white;
  vertical-align: super;
  font-family: 'Bellota', cursive;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}

.brand-logo-title{
     text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}

.payment-form-label {
    margin-left: 1rem;
}

/* MODAL 
.modal {
  border-radius: 1rem;
}

#delete_modal .modal-content {
  padding: 1rem;
}

#payment_modal {
  height: 18.1rem;
  overflow-y: visible;
}

#payment_modal .modal-content {
  padding: 1rem;
}


.new-feature-wrapper .fa-pound-sign{
    position: absolute;
    left: 0.8rem;
}

#payment_modal .fa-pound-sign {
  position: absolute;
  left: 0.4rem;
}



#payment_modal label {
  position: absolute;
  left: 0;
}

#payment_modal .input-field {
  margin-top: 1.5rem;
}

#payment_modal .payment-form-label {
  position: absolute;
  margin-left: 2rem;
  transform: translateY(-0.6rem)
}

#payment_modal #card-element {
  margin-top: 1.7rem;
}

#filter_form {
  margin-bottom: 2rem;
}

/* STRIPE PAYMENT FORM */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}














/* FLASH MESSAGES */
.flash-message {
  visibility: hidden;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  z-index: 100;
  top: 5rem;
  color: #ede9df;
}

.flash-message.show {
  visibility: visible;
  animation: flashMessageShow 0.5s, flashMessageHide 0.5s 3.5s;
}










/* KEYFRAMES */
@keyframes flashMessageShow {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 5rem;
    opacity: 1;
  }
}
@keyframes flashMessageHide {
  from {
    top: 5rem;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

