{% extends 'base.html' %}
{% load bootstrap tags %}
{% load staticfiles %}

{% block page_title %}{{ ticket.title }} | Edit {% if ticket.ticket_type.ticket_type == "Bug" %}Bug
{% elif ticket.ticket_type.ticket_type == "Feature" %}Feature{% endif %} | {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12" id="edit_ticket">
            <form class="col-sm-12" method="POST">
                <div>
                    <h4 class="form-title">Edit {{ ticket.ticket_type }}</h4>
                    <div class="row">
                        <div class="col-sm-12">
                            {% csrf_token %}
                            {{ edit_form.title }}
                            {{ edit_form.description }}
                        </div>
                        <div class="col_sm_12">
                            <button type="submit" class="btn btn-primary" aria-label="Edit Ticket">
                                <span>Edit</span>
                                <i class="fa fa-edit icon-right" aria-hidden="true"></i>
                            </button>
                            <a class="btn btn-md btn-warning" aria-label="cancel button" onclick="history.back()">
                                <span>Cancel</span>
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}