{% extends 'base.html' %}
{% load materializecss %}
{% load staticfiles %}

{% block page_title %}Tickets | {% endblock %}
{% block page_heading %}Tickets{% endblock %}

{% block content %}
<!-- report a Bug or request Feature. User must register or login -->
    <div class="row center-align">
	<!-- BUG SECTION -->
	    <div class="col s12 l6 ticket-card card bug">
		    <h2 class="card-title">Bugs</h2>
		    {% if user.is_authenticated %}
		        <p>
			        Noticed an issue?
			        <br>
                    Submit a new Bug Report NOW!
                </p>
			    <p>
				    Bug Reports are FREE!
			    </p>
			    <a href="{% url 'new_bug_ticket' %}" class="btn waves-effect waves-light standard-btn">
				    <i class="fas fa-bug icon-left" aria-hidden="true"></i>
				    New Bug
			    </a>
			{% else %}
			    <p>
				    Noticed an issue?
			    </p>
			    <p>
				    <a class="nav-link" href="{% url 'login' %}" aria-label="Login Page">
					    Login
				    </a>
				    or
				    <a class="nav-link" href="{% url 'registration' %}" aria-label="Registration Page">
					    Register
				    </a>
				    to submit a Bug Report.
			    </p>
			{% endif %}
	    </div>
	<!--feature-->
	    <div class="col s12 l6 ticket-card card feature">
		    <h2 class="card-title center-align">Features</h2>
		    {% if user.is_authenticated %}
		        <p>
			        Want something new?
			        <br>
                    Submit a new Feature Request!
                </p>
			    <p>
				    Feature Requests require a donation!
			    </p>
			    <a href="{% url 'new_feature_ticket' %}" class="btn waves-effect waves-light standard-btn" aria-label="New Feature Page">
				    <i class="fas fa-cogs icon-left" aria-hidden="true"></i>
				    New Feature
			    </a>
			{% else %}
			    <p>
				    Want something new?
			    </p>
			    <p>
				    <a class="nav-link" href="{% url 'login' %}" aria-label="Login Page">
					    Login
				    </a>
				    or
				    <a class="nav-link" href="{% url 'registration' %}" aria-label="Registration Page">
					    Register
				    </a>
				    to submit a Feature Request.
			    </p>
			{% endif %}
	    </div>
    </div>

    <div class="row center-align">
        <!-- Filter Form -->
        <form id="filter_form" method="GET">
            <ul class="collapsible filter-option">
                <li>
                    <div class="collapsible-header filter-header">
                        <h3 class="filter-form-title">
                            <i class="fas fa-filter" aria-hidden="true"></i>
                            Filter
                        </h3>
                    </div>
                    <div class="collapsible-body collection collapsible-collection filter-body">
                        <!--Helper Text/Instructions-->
                        <div class="col s12">
                            <h6 class="helper">Filter by one or multiple categories.</h6>
                        </div>
                        <div class="row filter-form-wrapper">
                            <!--Ticket Type Category Drop Down-->
                            <div class="input-field col s12 m6">
                                <select id="ticket_type" name="ticket_type" class="form-control validate">
                                    <option value="" disabled selected>Type</option>
                                    {% for type in ticket_type_dropdown %}
                                        <option value="{{ type.id }}">{{ type }}</option>
                                    {% endfor%}
                                </select>
                                <label for="ticket_type">Ticket Type</label>
                            </div>
                            <!--Ticket Status Drop Down-->
                            <div class="input-field col s12 m6">
                                <select id="ticket_status" name="ticket_status" class="form-control validate">
                                    <option value="" disabled selected>Status</option>
                                    {% for status in ticket_status_dropdown %}
                                        <option value="{{ status.id }}">{{ status }}</option>
                                    {% endfor%}
                                </select>
                                <label for="ticket_status">Ticket Status</label>
                            </div>
                            <!--Submit Button-->
                            <div class="row">
                                <div class="col s12">
                                    <button class="btn waves-effect waves-light sm-md-btn" type="submit" aria-label="Filter button">
                                        <span class="hide-on-small-and-down">Filter</span>
                                        <i class="fas fa-filter icon-right" aria-hidden="true"></i>
                                    </button>
                                    <!--Reset Button-->
                                    <a class="btn waves-effect waves-light sm-md-btn" href="{% url 'get_tickets' %}" aria-label="Reset Results button">
                                        <span class="hide-on-small-and-down">Reset</span>
                                        <i class="fas fa-undo-alt icon-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
    
    <div class="row center-align">
	    {% for ticket in tickets %}
	        <a href="{% url 'view_one_ticket' ticket.id %}" aria-label="View This Tickets Details">
		        <div class="col s12 m6 ticket-preview-card">
			        <div class="card hoverable results-card">
				        <div class="ticket-type center-align">
					        {% if ticket.ticket_type.ticket_type == "Bug" %}
					            <i class="fas fa-bug" aria-hidden="true"></i>
					        {% elif ticket.ticket_type.ticket_type == "Feature" %}
					            <i class="fas fa-cogs" aria-hidden="true"></i>
					        {% endif %}
				        </div>
				<!-- Ticket Title -->
				        <div class="card-title center-align">
					        <h3>{{ ticket.title }}</h3>
				        </div>
				        <div class="card-content center-align">
					        <p class="ticket-status">
						        <i class="fas fa-ticket" aria-hidden="true"></i>
						        {{ ticket.ticket_type }}
					        </p>
					        <p class="ticket-status">
						        <i class="fas fa-tools" aria-hidden="true"></i>
						        {{ ticket.ticket_status }}
					        </p>
					        <p class="ticket-status">
						        <i class="fas fa-user" aria-hidden="true"></i>
						        {{ ticket.username }}
					        </p>
					        <p class="ticket-status truncate">
						        <i class="fas fa-file" aria-hidden="true"></i>
						        {{ ticket.description }}
					        </p>
				        </div>
				<!--ticket stats-->
				        <div class="card-action card-stats">
					        <span>
                                <i class="fas fa-eye" aria-hidden="true"></i>
                                {{ ticket.views }}
                            </span>
					        <span>
                                <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                                {{ ticket.upvotes }}
                            </span>
					        <span>
                                <i class="fas fa-pound-sign" aria-hidden="true"></i>
                                {% if ticket.ticket_type == "Feature" %}
                                    {% if ticket.total_donations >= 100 %}
                                        <i class="fa fa-check target-reached"></i>
                                    {% else %}
                                        {{ ticket.total_donations }}
                                    {% endif %}
                                {% else %}
                                    <span>FREE!</span>
					            {% endif %}
					        </span>
				        </div>
			        </div>
		        </div>
	        </a>
	    {% empty %}
	        <h3>
		        <span class="ticket-count">No Tickets Found</span>
	        </h3>
	    {% endfor %}
    </div>
{% endblock %}